.todo-item {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.todo-item-text {
    margin-right: 1rem;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.todo-item-button {
    float: right;
}